@{
    ViewBag.Title = "Home Page";
}

<html>
<head>

</head>
<body>
    <center>
        <div class="container-fluid">
            <br />
            <br />
            <div class="jumbotron">
                <h1>
                    @ViewBag.User
                </h1>
                <h1 class="text-danger">@ViewBag.Error</h1>
            </div>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">
                        @Html.Label("Usuario: ")
                        @Html.TextBox("UserName", null, new { @class = "form-control" })
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">
                        @Html.Label("Contraseña: ")
                        @Html.Password("Password", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4">
                        <br />
                        <button class="btn btn-default">Ingresar</button>
                    </div>
                </div>
            }
        </div>
    </center>
   
</body>
</html>